.sell-car-form-wrapper {
    .sell-car-form {
        .invalid-field-message {
            color: red;
        }

        .MuiTextField-root {
            margin: 0;            
        }

        .form-field {
            width: 47.5%;
        }
    
        .form-block {
            justify-content: space-between;
            display: flex;
            margin-bottom: 30px;
        }
    
        margin-bottom: 30px;

        .submit-button-container {
            margin-top: 30px;
        }
    }    
}
