.choose-car-form {
    .form-field {
        width: 47.5%;

        .MuiTextField-root {
            margin: 0;            
        }
    }

    .form-block {
        justify-content: space-between;
        display: flex;
        margin-bottom: 30px;
    }

    margin-bottom: 30px;
}
