.offer-info-card {
    width: 80%;
    margin: 0 auto;
    border: 1px solid aqua;
    margin-top: 20px;
    margin-bottom: 20px;

    .offer-info-content {
        display: flex;
        flex-wrap: wrap;
        width: 65%;
        flex-direction: column;
        margin: 0 auto;


        .buyer-info {
            display: flex;
            justify-content: center;

            .buyer-deital-container {
                display: flex;
                margin-right: 2%;

                .detail {
                    margin-left: 15px;
                }
            }
        }

        .offer-description {
            margin-top: 20px;

            .offer-deital-container.description {
                text-align: center;
            }

            pre {
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap;
                word-wrap: break-word;

                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
            }
        }
    }
}