.register-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .register-form {
        width: 25%;

        .register-field {
            width: 100%;
        }

        .register-buttons {
            display: flex;
            justify-content: space-between;

            button,
            a {
                width: 40%;
            }
        }
    }
}
